[submodule "cimgui"]
	path = cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = master
[submodule "cimplot"]
	path = cimplot
	url = https://github.com/cimgui/cimplot.git
[submodule "cimguizmo"]
	path = cimguizmo
	url = https://github.com/cimgui/cimguizmo.git
[submodule "imGuIZMO.quat"]
	path = extras/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat
