[submodule "cimgui"]
	path = cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "cimplot"]
	path = cimplot
	url = https://github.com/sonoro1234/cimplot.git
[submodule "ImGuizmo"]
	path = extras/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "imGuIZMO.quat"]
	path = extras/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat
